<h2 class="text-center">Pixomatix</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal registration-form' }) do |f| %>
  <%= render partial: 'devise/shared/errors', locals: { resource: resource } %>
  <%= f.input :name, placeholder: 'Name', label: false, autofocus: true, input_html: { class: 'input-lg' } %>
  <%= f.input :email, placeholder: 'Email', label: false, input_html: { class: 'input-lg' } %>
  <%= f.input :password, placeholder: 'Password', label: false, input_html: { class: 'input-lg' }, help: false %>
  <%= f.input :password_confirmation, placeholder: 'Password Confirmation', label: false, input_html: { class: 'input-lg password-confirmation' } %>
  <%= f.button :submit, value: 'Sign Up', class: 'btn btn-success btn-sign-up' %>

  <%- if controller_name != 'sessions' %>
    <div class="line-through">
      <span>or</span>
    </div>

    <%= link_to "Sign In", new_session_path(resource_name), class: 'btn btn-danger btn-sign-in' %>
  <% end -%>
<% end %>
