<div class="row">
  <div class="col-md-1 top-buffer" ng-repeat="gallery in galleries">
    <a ng-if="gallery.has_galleries == false" ng-click="loadImagesForGallery(gallery.id)" href="" class="thumbnail" data-toggle="modal" data-target="#image-modal"><img ng-src={{gallery.thumbnail_path}} class="img-responsive img-thumbnail" /></a>
    <a ng-if="gallery.has_galleries == true" href="#/images/{{gallery.id}}" class="thumbnail"><img ng-src={{gallery.thumbnail_path}} class="img-responsive img-thumbnail" /></a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <a href="#/images/{{parent_id}}" class='btn btn-default'>Back</a>
  </div>
</div>
<div class="modal fade in" id="image-modal">
  <div class="modal-dialog modal-custom">
    <div class="modal-content">
      <div class="modal-body">
        <div class="slideshow">
          <%= image_tag('', 'ng-src': "{{currentImage().original_path}}", 'ng-hide': '!currentImage()', class: 'img-center img-responsive', data: { dismiss: 'modal' }) %>
          <div class="slideshow-overlay" ng-swipe-left="nextImage()" ng-swipe-right="previousImage()">
            <div class="slideshow-controls">
              <div class="btn-group">
                <%= button_tag('First', 'ng-click': 'firstImage();', class: 'btn btn-warning', 'ng-keypress': 'console.log($event);') %>
                <%= button_tag('Previous', 'ng-click': 'previousImage();', class: 'btn btn-warning') %>
                <%= button_tag('Close', class: 'btn btn-success', data: { dismiss: 'modal' }) %>
                <%= button_tag('Next', 'ng-click': 'nextImage();', class: 'btn btn-warning') %>
                <%= button_tag('Last', 'ng-click': 'lastImage();', class: 'btn btn-warning') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('#image-modal').on('hidden.bs.modal', function(e){
      jQuery('#image-modal .modal-body img.picture-frame').attr('src', '').attr('ng-src', '');
    });
  });
</script>
