<div class="slideshow">
  <%= image_tag('', 'ng-src': "{{getPreviousImage()[quality]}}", 'ng-hide': 'true', class: 'previous-img') %>
  <%= image_tag('',
                'ng-src': "{{getCurrentImage()[quality]}}",
                'ng-class': 'isOddAngleRotation() ? "rotated-odd" : ""',
                'ng-style': "{ transform: transformStyle, '-webkit-transform': transformStyle, '-ms-transform': transformStyle }",
                'ng-show': 'getCurrentImage() && animate',
                class: 'img-center img-responsive current-img animate-show') %>
  <%= image_tag('', 'ng-src': "{{getNextImage()[quality]}}", 'ng-hide': 'true', class: 'next-img') %>
  <div class="slideshow-overlay" ng-swipe-left="nextImage()" ng-swipe-right="previousImage()">
    <div class="slideshow-controls">
      <div class="btn-group" role="group">
        <%= button_tag('', 'ng-click': 'goToFirstImage()', class: 'btn btn-warning', 'ng-disabled': "isFirstButtonDisabled()"){ content_tag(:span, '', class: 'glyphicon glyphicon-fast-backward') } %>
        <%= button_tag('', 'ng-click': 'goToPreviousImage()', class: 'btn btn-warning', 'ng-disabled': "isPreviousButtonDisabled()"){ content_tag(:span, '', class: 'glyphicon glyphicon-backward') } %>
        <%= button_tag('', 'ng-click': 'rotateAntiClockwise()', class: 'btn btn-warning'){ content_tag(:span, '', class: 'glyphicon glyphicon-repeat', style: 'transform: scale(-1,1);') } %>
        <div class="btn-group dropup" role="group">
          <button type="button" id="settings-menu" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-left dropdown-settings-menu" role="menu" aria-labelledby="settings-menu">
            <li>
            <form class="form-inline">
              <div class="form-group">
                Picture Quality <select class="form-control input-sm" ng-model="quality">
                  <option value="thumbnail_path">Thumbnail</option>
                  <option value="hdtv_path">HDTV</option>
                  <option value="original_path">Original</option>
                </select>
              </div>
            </form>
            </li>
            <li class="divider"></li>
            <li>
            <form class="form-inline">
                Circular Slideshow?
                <label class="radio-inline">
                  <input type="radio" name="circular_slideshow_options" id="circular_yes" value="yes" ng-model="circular"> Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="circular_slideshow_options" id="circular_no" value="no" ng-model="circular"> No
                </label>
            </form>
            </li>
          </ul>
        </div>
        <%= button_tag('', 'ng-click': 'redirectToParentGallery()', class: 'btn btn-warning'){ content_tag(:span, '', class: 'glyphicon glyphicon-remove-circle') } %>
        <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-download'), '/images/{{getCurrentImage().id}}/download', class: 'btn btn-warning') %>
        <%= button_tag('', 'ng-click': 'rotateClockwise()', class: 'btn btn-warning'){ content_tag(:span, '', class: 'glyphicon glyphicon-repeat') } %>
        <%= button_tag('', 'ng-click': 'goToNextImage()', class: 'btn btn-warning', 'ng-disabled': "isNextButtonDisabled()"){ content_tag(:span, '', class: 'glyphicon glyphicon-forward') } %>
        <%= button_tag('', 'ng-click': 'goToLastImage()', class: 'btn btn-warning', 'ng-disabled': "isLastButtonDisabled()"){ content_tag(:span, '', class: 'glyphicon glyphicon-fast-forward') } %>
      </div>
    </div>
  </div>
</div>
