<div class="slideshow">
  <%= image_tag('',
                'ng-src': "{{getCurrentImage().hdtv_path}}",
                'ng-hide': '!getCurrentImage()',
                'ng-class': 'isOddAngleRotation() ? "rotated-odd" : ""',
                'ng-style': "{ transform: transformStyle, '-webkit-transform': transformStyle, '-ms-transform': transformStyle }",
                class: 'img-center img-responsive', data: { dismiss: 'modal' }) %>
  <%= image_tag('', 'ng-src': "{{getPreviousImage().hdtv_path}}", 'ng-hide': 'true') %>
  <%= image_tag('', 'ng-src': "{{getNextImage().hdtv_path}}", 'ng-hide': 'true') %>
  <div class="slideshow-overlay" ng-swipe-left="nextImage()" ng-swipe-right="previousImage()">
    <div class="slideshow-controls">
      <div class="btn-group">
        <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-fast-backward'), '#/images/{{gallery_id}}/slideshow/{{getFirstImage().id}}', class: 'btn btn-warning') %>
        <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-backward'), '#/images/{{gallery_id}}/slideshow/{{getPreviousImage().id}}', class: 'btn btn-warning') %>
        <%= button_tag('', 'ng-click': 'rotateAntiClockwise()', class: 'btn btn-warning'){ content_tag(:span, '', class: 'glyphicon glyphicon-repeat', style: 'transform: scale(-1,1);') } %>
        <%= button_tag('', 'ng-click': 'redirectToParentGallery()', class: 'btn btn-warning'){ content_tag(:span, '', class: 'glyphicon glyphicon-remove-circle') } %>
        <%= button_tag('', 'ng-click': 'rotateClockwise()', class: 'btn btn-warning'){ content_tag(:span, '', class: 'glyphicon glyphicon-repeat') } %>
        <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-forward'), '#/images/{{gallery_id}}/slideshow/{{getNextImage().id}}', class: 'btn btn-warning') %>
        <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-fast-forward'), '#/images/{{gallery_id}}/slideshow/{{getLastImage().id}}', class: 'btn btn-warning') %>
      </div>
    </div>
  </div>
</div>
