<%= render partial: 'shared/notice', locals: { notice: notice } %>

<div class="row">
  <% @image.children.each do |image| %>
    <div class="col-md-1 top-buffer">
      <% if image.children.count > 0 && image.images.count > 0 %>
        <%= link_to image_tag(thumbnail_image_path(image.images.ordered.first.id), class: 'img-responsive img-thumbnail'), image, class: 'thumbnail' %>
      <% elsif image.images.count > 0 %>
        <%= link_to image_tag(thumbnail_image_path(image.images.ordered.first.id), class: 'img-responsive img-thumbnail'), '', class: 'thumbnail', 'ng-click': "getImageData(#{image.id})", data: { toggle: 'modal', target: '#image-modal' } %>
      <% else %>
        <%= link_to image_tag('default_gallery_image_thumbnail.png', class: 'img-responsive img-thumbnail'), image, class: 'thumbnail' %>
      <% end %>
    </div>
  <% end %>
  <% if @image.images.count > 0 %>
    <div class="col-md-1 top-buffer">
      <%= link_to image_tag(thumbnail_image_path(@image.images.ordered.first.id), class: 'img-responsive img-thumbnail'), '', class: 'thumbnail', 'ng-click': "getImageData(#{@image.images.ordered.first.id})", data: { toggle: 'modal', target: '#image-modal' } %>
    </div>
  <% end %>
</div>

<div class="row top-buffer">
  <div class="column-md-12 text-center">
    <%= link_to 'Back', @image.parent.nil? ? images_path : @image.parent, class: 'btn btn-success' %>
  </div>
</div>
