<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pixomatix</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid" ng-controller="ImageGalleryCtrl">
      <%= yield %>
      <div class="modal fade in" id="image-modal">
        <div class="modal-dialog modal-custom">
          <div class="modal-content">
            <div class="modal-body text-center img-verticle-align">
              <%= button_tag('Previous', 'ng-click': 'previousImage();', class: 'btn btn-warning previous') %>
              <%= button_tag('First', 'ng-click': 'firstImage();', class: 'btn btn-warning first') %>
              <%= image_tag('', 'ng-src': "{{image_ids[current_index]}}/{{quality}}", class: 'img-responsive img-center', data: { dismiss: 'modal' }) %>
              <%= button_tag('Next', 'ng-click': 'nextImage();', class: 'btn btn-warning next') %>
              <%= button_tag('Last', 'ng-click': 'lastImage();', class: 'btn btn-warning last') %>
              <%= link_to 'Close', '', class: 'btn btn-success back', data: { dismiss: 'modal' } %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </body>
</html>
